<div class="video-container">
    <video id="video" autoplay disablePictureInPicture></video>
</div>
<div id="error-message" style="display:none;">
    Hubo un error al cargar o reproducir el video. Por favor, intente más tarde.
</div>
<div class="info-panel">
    <div class="info-group">
        <div class="info-box">
            <p class="info-title">Temperatura</p>
            <div class="info-value">{{info.temperature}}</div>
        </div>
    </div>
    <div class="info-group">
        <div class="info-box">
            <p class="info-title">PH</p>
            <div class="info-value">{{info.ph}}</div>
        </div>
    </div>
    <div id='dropFoodBtn' class="info-icon">
        <div class="food-icon">
            <div class="food-icon-img"></div>
        </div>
    </div>
</div>