<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubble Buddy</title>
    <meta name="api-base-url" content="{{baseUrl}}">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <audio src="images/scizzie - aquatic ambience [ ezmp3.cc ].mp3" autoplay loop></audio>

    <style>
        body {
            margin: 0;
            height: 100vh;
            background: url('images/838c03728056fdaf9ee778ba1cd6f85a.gif') no-repeat center center fixed;
            background-size: cover;
        }
    </style>

    <div class="mid">
        <div class="containerlogin">
            <header class="header">
                <p class="title">Log In</p>
            </header>
            <main class="content">
                <form class="login-form">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <button type="submit" class="login-button">Log In</button>
                </form>
            </main>
        </div>
    </div>
</body>

</html>