#login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    margin-top: 1rem;
    display: flex;
    max-width: 80%;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    color: #37474f;
}

.content {
    margin-left: 20%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

input:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    outline: none;
    transform: scale(1.05);
}

.login-button {
    margin-top: 6rem;
    padding: 12px;
    font-size: 18px;
    max-width: 80%;
    font-family: 'Joy Kim', Arial, sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom, #00796b, #004d40);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}